.sidebar {
    

    
   
 }

.bg-section {
   
    background: linear-gradient(291deg, #91C8E4 0%, rgba(197.19, 242.45, 199, 0) 100%);}

.list-group .list-group-item-action.active {
    background-color: #91C8E4;
} 

.list-group .list-group-item-action:hover{
    background-color: #91C8E4 !important;
}

.nav-item .nav-link.active{
    background-color: #91C8E4;
}
.nav-item .nav-link:hover{
    background-color: #91C8E4;
}



   
.card {
    margin-top: 20px;
    display: flex;
    
 }

.card-body {
    
    border-radius: 5px;
    text-align: left; 
    margin-bottom: 10px;
    height: 60px;
}

.kotak2 {
    margin-top: 300px;
}

    

.gambar-pedagang {
    display: flex;
    justify-content: center;
    align-items: center;
}